@charset "UTF-8";

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --corDestaque: #d8cba8;
  --corBanner: #7b2e2e;
  --corPrincipal: #f5e6c8;
  --corNav: #3e2c23;
  --corFundo: #2c1d1a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  text-shadow: 2px 2px 1px black;
  text-align: center;
  color: #f4ebd0;
}

h2 {
  padding: 10px;
  text-align: center;
}

p {
  padding: 10px;
  text-align: justify;
  text-indent: 15px;
  font-size: 1.1em;
}

body {
  background-color: var(--corFundo);
  height: 100vh;
}

header {
  background-color: var(--corBanner);
  height: 30vh;
  display: grid;
  grid-template: 1fr 40px / auto;
}
.banner {
  grid-area: 1 / 1 / span 1 / span 1;
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
}

nav {
  background-color: var(--corBanner);
  text-decoration: None;
  max-width: 1500px;
  margin: auto;
  width: 100vw;
  display: grid;
  grid-template: auto / 1fr 1fr 2fr 1fr 1fr;
  place-items: end stretch;
  place-content: end center;
  gap: 5px;
}
nav > a {
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  color: #e2c799;
  height: 40px;
  background-color: var(--corNav);
  border-radius: 5px 5px 0px 0px;
}

nav > a:hover {
  background-color: var(--corDestaque);
  color: var(--corFundo);
}

nav > a:active {
  background-color: var(--corNav);
  color: beige;
}

main {
  height: fit-content;
  margin: auto;
  max-width: 1500px;
  width: 100vw;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
  background-color: var(--corPrincipal);
  display: grid;
  grid-template: 1fr/ 3fr 1fr;
}

article {
  height: 1000px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(7, 1fr);
  gap: 5px;
  place-items: stretch stretch;
}
.regras {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 1 / 1 / 2 / 8;
}
.ficha {
  background-color: var(--corDestaque);
  padding-bottom: 10px;
  border-radius: 10px;
  grid-area: 2 / -1 / -2 / -4;
  display: grid;
  grid-template-rows: 50px 1fr;
  place-items: end center;
}
.classes {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 4 / 1 / 5 /3;
}
.raca {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 4 / 3 / 5 / 5;
}
.talentos {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 5 / 1 / 7 / 5;
}
.antecedentes {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 5 / 5 / 7 / 8;
}
.combo {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 2 / 1 / 4 / -4;
}

.ficha > img {
  margin: auto;
  max-width: 100%;
  height: 100%;
  padding: 5px;
}

.ficha > h2 {
  height: 50px;
  max-width: 100%;
}

aside {
  margin: 0px 15px;
  height: 1000px;
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 2fr;
}
aside > img {
  height: 60%;
  grid-area: 1 / 1 / -1 / 2;
}

footer {
  height: 50px;
  background-color: var(--corPrincipal);
  margin: auto;
  max-width: 1500px;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}
