@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --corDestaque: #ccbd5a;
  --corBanner: #7b2e2e;
  --corPrincipal: #f5e6c8;
  --corNav: #3e2c23;
  --corFundo: #2c1d1a;
}

body {
  background-color: var(--corFundo);
  height: 100vh;
}

p {
  padding: 10px;
  text-align: justify;
  text-indent: 15px;
}
header {
  height: 30vh;
  display: grid;
  grid-template: 1fr 40px / auto;
}
.banner {
  background-color: var(--corBanner);
  grid-area: 1 / 1 / span 1 / span 1;

  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
}
h1 {
  text-shadow: 2px 2px 1px black;
  text-align: center;
  color: #f4ebd0;
}
nav {
  background-color: var(--corBanner);
  text-decoration: None;
  display: grid;
  grid-template: auto / 1fr 1fr 2fr 1fr 1fr;
  place-items: end stretch;
  place-content: end center;
  gap: 5px;
}
nav > a {
  text-align: center;
  text-decoration: none;
  color: #e2c799;
  height: 30px;
  background-color: var(--corNav);
  border-radius: 5px 5px 0px 0px;
}
main {
  height: fit-content;
  margin: auto;
  max-width: 1500px;
  width: 100vw;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
  background-color: var(--corPrincipal);
  display: grid;
  grid-template: 1fr/ 3fr 1fr;
}

article {
  height: 1000px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(7, 1fr);
  gap: 5px;
  place-items: stretch stretch;
}
.regras {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 8;
}
.ficha {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 2 / -1 / -2 / -4;
  display: grid;
  grid-template-rows: 50px 1fr;
  place-items: end center;
}
.classes {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 4 / 1 / 5 /3;
}
.raca {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 4 / 3 / 5 / 5;
}
.talentos {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 5 / 1 / 7 / 5;
}
.antecedentes {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 5 / 5 / 7 / 8;
}
.combo {
  background-color: var(--corDestaque);
  border-radius: 5px;
  grid-area: 2 / 1 / 4 / -4;
}

h2 {
  padding: 10px;
  text-align: center;
}

.ficha > img {
  margin: auto;
  max-width: 100%;
  height: 100%;
  padding: 5px;
}

.ficha > h2 {
  height: 50px;
  max-width: 100%;
}

nav > a:hover {
  background-color: var(--corDestaque);
}

nav > a:active {
  background-color: #948941;
}

footer {
  height: 50px;
  background-color: var(--corPrincipal);
}
