@charset "UTF-8";

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --corDestaque: #d8cba8;
  --corBanner: #7b2e2e;
  --corPrincipal: #f5e6c8;
  --corNav: #3e2c23;
  --corFundo: #2c1d1a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  text-shadow: 2px 2px 1px black;
  text-align: center;
  color: #f4ebd0;
}

h2 {
  padding: 10px;
  text-align: center;
}

p {
  padding: 10px;
  text-align: justify;
  text-indent: 15px;
  font-size: 1.1em;
}

body {
  background-color: var(--corFundo);
  height: 100vh;
  min-width: 600px;
}

header {
  background-color: var(--corBanner);
  height: 30vh;
  display: grid;
  grid-template: 1fr 40px / auto;
}
.banner {
  grid-area: 1 / 1 / span 1 / span 1;
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
}

nav {
  background-color: var(--corBanner);
  text-decoration: None;
  max-width: 1500px;
  margin: auto;
  width: 100vw;
  display: grid;
  grid-template: auto / 1fr 1fr 2fr 1fr 1fr;
  place-items: end stretch;
  place-content: end center;
  gap: 5px;
}
nav > a {
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  color: #e2c799;
  height: 40px;
  background-color: var(--corNav);
  border-radius: 5px 5px 0px 0px;
}

nav > a:hover {
  background-color: var(--corDestaque);
  color: var(--corFundo);
}

nav > a:active {
  background-color: var(--corNav);
  color: beige;
}

main {
  height: fit-content;
  margin: auto;
  max-width: 1500px;
  width: 100vw;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
  background-color: var(--corPrincipal);
  display: grid;
  grid-template: 1fr/ 3fr 1fr;
}

article {
  min-height: fit-content;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 5px;
  place-items: stretch stretch;
}
.regras {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 1 / 1 / 2 / 5;
}

.classes {
  background-color: var(--corDestaque);
  border-radius: 10px;
  min-width: 300px;
  grid-area: 2 / 1 / 3 /2;
}
.raca {
  background-color: var(--corDestaque);
  border-radius: 10px;
  min-width: 300px;
  grid-area: 2 / 2 / 3 /3;
}

.ficha {
  background-color: var(--corDestaque);
  padding: 5px;
  border-radius: 10px;
  max-height: 800px;
  grid-area: 2 / 3 / -2 / 4;
}

.combo {
  background-color: var(--corDestaque);
  border-radius: 5px;
  min-width: 400px;
  grid-area: 3 / 1 / 4 / 3;
}

.talentos {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 4 / 1 / 5 / 3;
}

.antecedentes {
  background-color: var(--corDestaque);
  border-radius: 10px;
  grid-area: 4 / 3 / 5 / 4;
}

.ficha > img {
  margin: auto;
  width: 100%;
  min-width: 355px;
  max-width: 100%;
  padding: 5px;
}

.ficha > h2 {
  height: 50px;
  max-width: 100%;
  padding: 10px;
}

aside {
  margin: 0px 15px;
  max-height: 1000px;
  min-width: 240px;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  place-items: stretch stretch;
  place-content: center center;
  gap: 25px;
}
.guerreiro {
  height: 100%;
  grid-area: 1 / 1 / 2 /-1;
}

aside > h3 {
  font-size: 1.6em;
  padding-top: 30px;
  text-align: center;
  grid-area: 2 / 1 / -3 / -1;
}

aside > p {
  grid-area: 3 / 1 / 5/ -1;
  padding: 0px 15px;
}
aside > a {
  padding: 5px;
}

aside > a:hover {
  padding: 0px;
  transition: 0.3s;
}

.facebook {
  width: 100%;
}

.instagram {
  width: 100%;
}

.github {
  width: 100%;
}

.youtube {
  width: 100%;
}

footer {
  height: 50px;
  background-color: var(--corPrincipal);
  margin: auto;
  max-width: 1500px;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}
